div(class="page-header__logo")
    svg(viewBox="0 0 48 48" class="svg-logo" xmlns="http://www.w3.org/2000/svg")
        use(xlink:href="#logo")
    span 
        |Internship
        br 
        |Project
