div(class="page-header__user-menu")
    div(class="page-header__user-menu")
        span(class="user-menu__user-name") User Name
        svg(class="svg-avatar" xmlns="http://www.w3.org/2000/svg")
            use(xlink:href="#avatar")
        button(class="user-menu__button" type="button")
            svg(class="svg-vector" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#vector")
