.svg-wrapper
    button.block-table__button
        svg(class="svg-bin" xmlns="http://www.w3.org/2000/svg")
            use(xlink:href="#bin")
    button.block-table__button
        svg(class="svg-pen" xmlns="http://www.w3.org/2000/svg")
            use(xlink:href="#pen")
            