@font-face {
    font-family: "Effra Medium";
    font-weight: bold;
    font-style: normal;
    src: url('../../fonts/efframedium.ttf') format('truetype'),
         url('../../fonts/EffraMedium-Regular.woff') format('woff');
}

@font-face {
    font-weight: normal;
    font-family: "Effra Regular";
    font-style: normal;
    src: url("../../fonts/effraregular.ttf") format('truetype');
  }
  