// colors
$background:#E5E5E5;
$light-grey: #EDEFF6;
$white: #FFFFFF;
$border-grey: #E9EAF2;
$submit-button: #462F9F;
$table-header: #989898;
$light-blue: #1A86FD;
$add-project-button: #55B852;
$nav-link:#7D8097;

//font-size
$header-size: 14px;
$regular-size: 16px;

//font-family 
$effra-medium: "Effra Medium", "Arial", sans-serif;;
$effra-regular: "Effra", "Arial", sans-serif;
