nav(class="main-page__nav")
    ul(class="nav-list")
        li(class="nav-list__item nav-list__item--active") 
            a(class="nav-list__link" href="#")
                svg(viewBox="0 0 32 32" class="nav-svg nav-projects" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#nav-projects") 
                span Projects
        li(class="nav-list__item")
            a(class="nav-list__link" href="#")
                svg(viewBox="0 0 32 32" class="nav-svg nav-applications" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#nav-applications")
                span Applications
        li(class="nav-list__item")
            a(class="nav-list__link" href="#")
                svg(viewBox="0 0 32 32" class="nav-svg nav-services" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#nav-services")
                span Services
        li(class="nav-list__item")
            a(class="nav-list__link" href="#")
                svg(viewBox="0 0 32 32" class="nav-svg nav-devices" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#nav-devices")
                span Company devices
            a(class="nav-list__link" href="#")
                li(class="nav-list__item")
                    svg(viewBox="0 0 32 32" class="nav-svg nav-relationships" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#nav-relationships")
                    span Devices relationships
