.pagination
    button(class="pagination-button" type="button")
        svg(class="svg-arrow-button" xmlns="http://www.w3.org/2000/svg")
            use(xlink:href="#arrowbutton")
    a(href='#' class="pagination__link") 1
    a(href='#' class="pagination__link") 2
    a(href='#' class="pagination__link") 3
    button(class="pagination-button" type="button")
        svg(class="svg-arrow-button svg-arrow-button--right" xmlns="http://www.w3.org/2000/svg")
            use(xlink:href="#arrowbutton")
            